/* Homepage styling */

* {
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 1rem;
    overflow: none;
    justify-content: center;
    text-align: left;
}

nav a {
    list-style: none;
    text-decoration: none;
    font-family: Robotica, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav a:hover {
    color: lightgrey;
}

li a {
    color: white;
}

ul {
    list-style: none;
}

.resume {
   display: flex;
   justify-content: center;
   padding: 2.5em;
}

.resume a {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.resume a:hover {
    background: grey;
    color: white;
    outline: solid black;
}

.about {
    text-align: center;
    font-size: 22px;
    background: #5d88d9;
    color: whitesmoke;
    padding: 2em;
}

header h1 {
    padding-right: 1rem;
    text-align: center;
}


body {
    max-width: 20000px;
    min-width: 320px;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
}

.ios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: black;
}

.ios a {
    color: black;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.ios a:hover {
    background: grey;
    color: white;
}

.front-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: black;
}

.front-end a {
    color: black;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.front-end a:hover {
    background: grey;
    color: white;
}

.heading {
    margin-top: 0.25rem;
}

.front-end-img {
    width: 90%;
}

footer {
    background: #5d88d9;
    color: whitesmoke;
    width: 100vw;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    font-size: 22px;
}

footer h1 {
    text-align: center;
}

a {
    font-weight: 200px;
    color: black;
}

/* Styling for the Front End Page */

img {
    position: relative;
    max-height: 500px;
    width: auto;
}

.spotify-search {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    background-color: lightgreen;
}

.spotify-search h2 {
    font-size: 36px;
}

.spotify-search p {
    font-size: 22px;
}

.shop-page {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    background-color: #38BDD7;
}

.shop-page h2 {
    font-size: 36px;
}

.shop-page p {
    font-size: 22px;
}

/* iOS Page Styling */
.tic-tac-toe {
    display: relative;
    min-height: 100vh;
}

.tic-tac-toe h2 {
    font-size: 36px;
    text-align: center;
}

.tic-tac-toe p {
    font-size: 22px;
    text-align: center;
}

.tic-tac-toe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.music-app {
    display: relative;
    min-height: 100vh;
}

.music-app h2 {
    font-size: 36px;
    text-align: center;
}

.music-app p {
    font-size: 22px;
    text-align: center;
}

.music-app img {
    float: left;
    text-align: center;
    padding-left: 300px;
}