/* Homepage styling */

* {
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 1rem;
    overflow: none;
    justify-content: center;
    text-align: center;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
    display: flex;
}

header > h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    list-style: none;
    text-decoration: none;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
    font-size: 20px;
    display: flex;
}

nav a:hover {
    color: lightgrey;
    text-decoration: none;
}

li a {
    color: white;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

.resume {
   display: flex;
   justify-content: center;
   padding: 2.5em;
}

.resume a {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.resume a:hover {
    background: grey;
    color: white;
    outline: solid black;
}

.about {
    text-align: center;
    font-size: 22px;
    background-color: white;
    color: black;
    padding: 2em;
}

#intro-description {
    font-size: 1.5em;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
    color: white;
}

header h1 {
    padding-right: 1rem;
    text-align: center;
}


body {
    margin: 0;
    max-width: 20000px;
    min-width: 320px;
    background-color: black;
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
}

main {
    background-color: black;
    height: 100%;
}

.main-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h4 {
    display: flex;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    justify-content: center;
    color: white;
}

h3 {
    display: flex;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    text-align: center;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.image img {
    display: flex;
    text-align: center;
    width: 55%;
    height: auto;
    margin-left: 23%;
    padding-bottom: 10px;
}

.image img:hover {
    color: lightgrey;
}

.source-code a {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}

.source-code a:hover {
    color: grey;
    text-decoration: none;
}