* {
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 1rem;
    width: 100vw;
    overflow: none;
    justify-content: center;
    text-align: left;
}

nav a {
    list-style: none;
    text-decoration: none;
    font-family: Robotica, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav a:hover {
    color: lightgrey;
}

li a {
    color: white;
}

ul {
    list-style: none;
}

.resume {
   display: flex;
   justify-content: center;
   padding: 2.5em;
}

.resume a {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.resume a:hover {
    background: grey;
    color: white;
    outline: solid black;
}

.about {
    text-align: center;
    font-size: 22px;
    background: #5d88d9;
    color: whitesmoke;
    padding: 2em;
}

header h1 {
    padding-right: 1rem;
    text-align: center;
}


body {
    max-width: 20000px;
    min-width: 320px;
}

h1 {
    padding: 1rem;
}

.projects-container {
    display: flex;
    padding: 0.5rem;
    width: 90vw;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: black;
}

.projects a {
    color: black;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    padding: 0.5em;
}

.projects a:hover {
    background: grey;
    color: white;
}

.heading {
    margin-top: 0.25rem;
}

img {
    width: 90%;
}

.shop-page {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}

.shop-page a {
    color: black;
    font-size: 18px;
    font-weight: 100px;
    cursor: pointer;
}

footer {
    background: #5d88d9;
    color: whitesmoke;
    width: 100vw;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    font-size: 22px;
}

footer h1 {
    text-align: center;
}

a {
    font-weight: 200px;
    color: black;
}

.spotify-search {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}

.spotify-search a {
    font-size: 18px;
    cursor: pointer;
    color: black;
}